.body-container {
    background-color: #b91450;
}

.color_magenta {
    color: #b91450!important;
}

.btn {
    background-color: lightgrey!important;
}

.bg_grey {
    background-color: #808080;
}

